@model Etch.OrchardCore.Workflows.Export.ViewModels.PreviewWorkflowExportViewModel

<h1>@RenderTitleSegments(T["Export Data for {0}", Model.Name])</h1>

@if (Model.InstanceCount > 0)
{
    <p>@T["{0} has {1} instances, you can see a preview of the latest outputs below.", Model.Name, Model.InstanceCount]</p>
    <form class="mb-3" asp-action="Export" asp-route-id="@Model.WorkflowTypeId" method="post">
        @Html.AntiForgeryToken()
        <button class="btn btn-primary" type="submit">@T["Download export"]</button>
    </form>
    @if (Model.PreviewOutput != null)
    {
        <ul>
            @foreach (var entry in Model.PreviewOutput)
            {
                <li><strong>@entry.Key</strong>: @entry.Value</li>
            }
        </ul>
    }
    else
    {
        <p>@T["No preview is available"]</p>
    }
}
else
{
    <p>@T["{0} has no instances so we have nothing to export."]</p>
}
